body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.App {
  text-align: center;
}

.card-1, .card-2, .card-3{
  
  border-radius: 10px;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding:  20px 50px ;
  
}




.card-1 > img, .card-2 > img , .card-3 > img{
width: 150px;
height: 150px;
align-self: center;


}



.card-1:hover, .card-2:hover, .card-3:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  
}


#avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
 


}






.first-name, .last-name {
  text-transform: uppercase;
  font-weight: bold;
  
  
  font-family: 'Source Sans Pro', sans-serif, Arial;
 

}

#avatar-container > .first-name {
  text-transform: uppercase;
  font-weight: bold;
}










body {
  background-color: #fff;
  font: normal 16px 'Source Sans Pro', sans-serif, Arial;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Oswald', sans-serif;
}










@media only screen and (max-width: 768px) {
  
  


  .card-1, .card-2 {
    display: none;
  }

  
  
  .sub-section {
    grid-template-columns: 1fr;
    padding: 0 10% 0 10% 

    
   
   
  }
  
  
  .join-container > p {
   
    margin: 50px 30px 0 30px;
    
  }}


 